### Ejercicios Unión de Datos
Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [2]:
#Importo las librerías.
import pandas as pd
import numpy as np

#Y establezco la configuración del DF para que se vean todas las columnas.
pd.set_option('display.max_columns', None)

In [3]:
#1. Abro los 2 csv y creo 2 DF.
df_world1 = pd.read_csv('world-data-2023_part1.csv', index_col=0)
df_world1.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70

In [4]:
df_world2 = pd.read_csv('world-data-2023_part2.csv', index_col=0)
df_world2.head(1)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"

In [5]:
print(f'La forma del primer DF es: {df_world1.shape}')
print('_____________________\n')
print(f'La forma del segundo DF es: {df_world2.shape}')

La forma del primer DF es: (195, 16)
_____________________

La forma del segundo DF es: (195, 19)

2. Identifica las columnas comunes entre los dos conjuntos de datos.

In [6]:
#2. Identifico las columnas de cada DF y busco si tiene alguna en común.
print(df_world1.columns)
print('_____________________\n')
print(df_world2.columns)

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')
_____________________

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [7]:
#3. Uno los dos DF por columna Country. Pero primero cambio el nombre de una de ellas porque no está escrito de la misma forma.
df_world2.rename(columns={'country': 'Country'}, inplace=True)
df_world_unido = df_world1.merge(df_world2, on= 'Country')
df_world_unido.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [8]:
#4. Compruebo la forma del DF y veo que tiene el mismo nº de filas, pero ha sumado las columnas de los 2 DF, a excepción de la de Country por la que se unió y que no repite.
df_world_unido.shape

(195, 34)

### Ejercicios de Limpieza
1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

**No se duplica por el método de unión que he utilizado.**

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

- No tengan espacios.

- Estén en minúscula.

- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [9]:
#1. Limpio las columnas, usando una comprenhension list.
columnas_unificadas = {columna: columna.lower().replace(" ", "").replace(":", "").replace("/", "").replace("-", "").replace("_", "").replace("\n", "").split("(")[0] for columna in df_world_unido.columns}

df_world_unido.rename(columns = columnas_unificadas, inplace = True)
list(df_world_unido.columns)

['country',
 'density',
 'abbreviation',
 'agriculturalland',
 'landarea',
 'armedforcessize',
 'birthrate',
 'callingcode',
 'capitalmajorcity',
 'co2emissions',
 'cpi',
 'cpichange',
 'currencycode',
 'fertilityrate',
 'forestedarea',
 'gasolineprice',
 'gdp',
 'grossprimaryeducationenrollment',
 'grosstertiaryeducationenrollment',
 'infantmortality',
 'largestcity',
 'lifeexpectancy',
 'maternalmortalityratio',
 'minimumwage',
 'officiallanguage',
 'outofpockethealthexpenditure',
 'physiciansperthousand',
 'population',
 'populationlaborforceparticipation',
 'taxrevenue',
 'totaltaxrate',
 'unemploymentrate',
 'urbanpopulation',
 'coordinates']

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [10]:
#Separo la columna de coordenadas en dos nuevas columnas, que renombro como longitud y latitud.
df_world_unido[['longitude', 'latitude']] = df_world_unido['coordinates'].str.split(',', expand=True)
#Elimino la columna coordenadas.
df_world_unido.drop(columns='coordinates', inplace=True)
#Confirmo que los cambios se han aplicado correctamente.
df_world_unido.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capitalmajorcity',
       'co2emissions', 'cpi', 'cpichange', 'currencycode', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urbanpopulation', 'longitude', 'latitude'],
      dtype='object')

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [11]:
columnas_con_porcentaje = ['unemploymentrate', 'totaltaxrate', 'taxrevenue', 'populationlaborforceparticipation',
                           'outofpockethealthexpenditure', 'grosstertiaryeducationenrollment',
                           'grossprimaryeducationenrollment', 'forestedarea', 'cpichange', 'agriculturalland']

# Eliminar "%" de los valores en las columnas especificadas
for columna in columnas_con_porcentaje:
    df_world_unido[columna] = df_world_unido[columna].str.replace('%', '')

# Mostrar las primeras filas del DataFrame para verificar los cambios
df_world_unido.head(1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [12]:
columnas_sin_dolar = ['gasolineprice', 'gdp', 'minimumwage']
for columna in columnas_sin_dolar:
    df_world_unido[columna] = df_world_unido[columna].str.replace('$', '')

df_world_unido.head(1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capitalmajorcity,co2emissions,cpi,cpichange,currencycode,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urbanpopulation,longitude,latitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [13]:
df_world_unido.to_csv('df_world_unido.csv', index=False)

### Ejercicios de Filtrado
1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [14]:
df_world_unido[df_world_unido['infantmortality'].between(40, 50, inclusive='both')]['country']

0       Afghanistan
26     Burkina Faso
27          Burundi
47         Djibouti
72            Haiti
89         Kiribati
125           Niger
166           Sudan
175            Togo
192           Yemen
193          Zambia
Name: country, dtype: object

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [15]:
mortalidad_infantil = df_world_unido['birthrate'] >= 20
natalidad = df_world_unido['lifeexpectancy'] > 75

df_world_unido[mortalidad_infantil & natalidad]['country']

2      Algeria
74    Honduras
82      Israel
Name: country, dtype: object

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [16]:
df_world_unido[df_world_unido['capitalmajorcity'].str.contains(r'\bla\b', case=True, na=False)]['capitalmajorcity']

3    Andorra la Vella
Name: capitalmajorcity, dtype: object

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [17]:
df_world_unido[df_world_unido['physiciansperthousand'] > 5][['country', 'physiciansperthousand']]

        country  physiciansperthousand
9       Austria                   5.17
15      Belarus                   5.19
42         Cuba                   8.42
63      Georgia                   7.12
66       Greece                   5.48
99    Lithuania                   6.35
113      Monaco                   6.56
140    Portugal                   5.12
149  San Marino                   6.11
187     Uruguay                   5.05

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [18]:
df_world_unido[df_world_unido['fertilityrate']> 6][['country', 'fertilityrate']]

     country  fertilityrate
125    Niger           6.91
160  Somalia           6.07

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [19]:
#Calculé el promedio de forma manual. El .count() permite contar cuántos valores no nulos tiene una columna. Si no lo utilizo el resultado difiere del obtenido con .mean()
promedio_natalidad = df_world_unido['birthrate'].sum() / df_world_unido['birthrate'].count()
promedio_natalidad

#Y luego usando .mean(). Obteniendo el mismo resultado.
promedio_natalidad = df_world_unido['birthrate'].mean()
promedio_natalidad

df_world_unido[(df_world_unido['currencycode'] == 'EUR') & (df_world_unido['birthrate']> promedio_natalidad)][['country', 'birthrate']]
#No devuelve nada porque no hay ningún país europeo que supere la media de natalidad.

Empty DataFrame
Columns: [country, birthrate]
Index: []

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [20]:
df_world_unido[df_world_unido['infantmortality']>70][['country', 'infantmortality']]

                      country  infantmortality
33   Central African Republic             84.5
34                       Chad             71.4
126                   Nigeria             75.7
155              Sierra Leone             78.5
160                   Somalia             76.6