In [1]:
import pandas as pd

/home/v_fischer/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/v_fischer/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
df2 = pd.read_csv("world_data_nuevo.csv")

In [3]:
# Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

# Definir la función para convertir columnas a numérico
def convertir_a_numerico(data, columnas):
    for columna in columnas:
        data[columna] = pd.to_numeric(data[columna], errors='coerce')
    return data

In [4]:
df2.columns

Index(['Unnamed: 0', 'country', 'density', 'abbreviation',
       'agricultural_land(_%)', 'land_area', 'armed_forces_size', 'birth_rate',
       'calling_code', 'capital/major_city', 'co2-emissions', 'cpi',
       'cpi_change_', 'currency-code', 'fertility_rate', 'forested_area_',
       'gasoline_price', 'gdp', 'gross_primary_education_enrollment_',
       'gross_tertiary_education_enrollment_', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation_', 'tax_revenue_',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitud',
       'longitud', 'continent'],
      dtype='object')

In [5]:
columnas_a_convertir = ['land_area', 'armed_forces_size', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitud', 'longitud', 'density', 'cpi']

In [6]:
df2 = convertir_a_numerico(df2, columnas_a_convertir)

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             195 non-null    int64
 1   country                                195 non-null    object
 2   density                                188 non-null    float64
 3   abbreviation                           188 non-null    object
 4   agricultural_land(_%)                  188 non-null    float64
 5   land_area                              25 non-null     float64
 6   armed_forces_size                      5 non-null      float64
 7   birth_rate                             189 non-null    float64
 8   calling_code                           194 non-null    float64
 9   capital/major_city                     192 non-null    object
 10  co2-emissions                          30 non-null     float64
 11  cpi                                    175 non-null    float64
 12  cpi_change_                            179 non-null    float64
 13  currency-code                          180 non-null    object
 14  fertility_rate                         188 non-null    float64
 15  forested_area_                         188 non-null    float64
 16  gasoline_price                         175 non-null    float64
 17  gdp                                    0 non-null      float64
 18  gross_primary_education_enrollment_    188 non-null    float64
 19  gross_tertiary_education_enrollment_   183 non-null    float64
 20  infant_mortality                       189 non-null    float64
 21  largest_city                           189 non-null    object
 22  life_expectancy                        187 non-null    float64
 23  maternal_mortality_ratio               181 non-null    float64
 24  minimum_wage                           150 non-null    float64
 25  official_language                      190 non-null    object
 26  out_of_pocket_health_expenditure       188 non-null    float64
 27  physicians_per_thousand                188 non-null    float64
 28  population                             1 non-null      float64
 29  population_labor_force_participation_  176 non-null    float64
 30  tax_revenue_                           169 non-null    float64
 31  total_tax_rate                         183 non-null    float64
 32  unemployment_rate                      176 non-null    float64
 33  urban_population                       0 non-null      float64
 34  latitud                                0 non-null      float64
 35  longitud                               0 non-null      float64
 36  continent                              2 non-null      object
dtypes: float64(29), int64(1), object(7)
memory usage: 56.5+ KB

In [8]:
def add_continent(df):
    continent_map = {
        'United States': 'North America',
        'China': 'Asia',
        # Añadir más países y continentes según sea necesario
    }
    df['continent'] = df['country'].map(continent_map)
    return df
# Añadir la columna 'continent'
df2 = add_continent(df2)

In [9]:
df2.to_csv("world_data_nuevo.csv", index=False)

In [10]:
population_density_avg = df2.groupby('continent')['density'].mean()
print(population_density_avg)

continent
Asia             153.0
North America     36.0
Name: density, dtype: float64

In [11]:
life_expectancy_avg = df2.groupby('official_language')['life_expectancy'].mean()
print(life_expectancy_avg)

official_language
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: life_expectancy, Length: 76, dtype: float64

In [12]:
infant_mortality_avg = df2.groupby('currency-code')['infant_mortality'].mean()
print(infant_mortality_avg)

currency-code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: infant_mortality, Length: 133, dtype: float64

In [13]:
minimum_wage_avg = df2.groupby('continent')['minimum_wage'].mean()
print(minimum_wage_avg)

continent
Asia             0.87
North America    7.25
Name: minimum_wage, dtype: float64

In [14]:
df2['tax_density_ratio'] = df2['total_tax_rate'] / df2['density']
max_tax_density_ratio = df2.groupby('continent')['tax_density_ratio'].max()
print(max_tax_density_ratio)

continent
Asia             0.386928
North America    1.016667
Name: tax_density_ratio, dtype: float64

In [15]:
urban_population_avg = df2.groupby('continent')['urban_population'].mean()
print(urban_population_avg)

continent
Asia            NaN
North America   NaN
Name: urban_population, dtype: float64

In [16]:
# 7
df_grouped = df2.groupby('official_language').agg({
    'gdp': 'mean',
    'out_of_pocket_health_expenditure': 'mean'
})
df_grouped['gdp_health_diff'] = df_grouped['gdp'] - df_grouped['out_of_pocket_health_expenditure']
print(df_grouped['gdp_health_diff'])

official_language
Afrikaans           NaN
Albanian            NaN
Amharic             NaN
Arabic              NaN
Armenian            NaN
                     ..
Tuvaluan Language   NaN
Ukrainian           NaN
Urdu                NaN
Uzbek               NaN
Vietnamese          NaN
Name: gdp_health_diff, Length: 76, dtype: float64

In [18]:
df2.to_csv("world_data_nuevo.csv")